::selection 
{
	background: #b3d4fc;
	text-shadow: none;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body
{
	color: #777;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px
}
.wrapper
{
	width: 90%;
	margin: 0 5%
}
.header-container
{
	background-color: #FAFAFA;
	background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
	background-repeat: repeat-x;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065)
}
.ERIS_layer_check
{
	display:none;
}
nav ul
{
	margin: 0;
	padding: 0
}
nav a 
{
	color: #777;
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
	transition: color ease-in-out .2s
}
nav a:hover 
{
	color: #333
}
.main 
{
	padding: 30px 0
}
.navbar
{
	display:inline-block
}
.owner_results
{
	margin-left: 5%
}
.about_a
{
	color: #777;
	padding: 0;
	text-align: left
}
.about_ul
{
	position:relative
}
.about_a:hover
{
	color: #333
}
.property_li
{
	overflow:hidden
}
.export
{
	display:none;
	color: #DE0A0A;
	text-align: left
}
.buffer_exe
{
	color: #DE0A0A
}
.buffer
{
	display:none
}
.logo
{
	float:left;
	width: 15%
}
.about_link
{
	color: #345382;
	display:inline-block;
	padding: 0;
	text-align:left;
	width:auto
}
.property_toggle
{
	color: #DE0A0A;
}
.map
{
	background: #fff;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index:-1;
}
.ul_buttons
{
	list-style-type: none;
	margin: auto;
	width: 304px;
}
.ResultList 
{
	top: 2px;
	padding: 1.5%;
	position:relative;
}
.selection_a
{
	display:inline-block;
	margin: 0;
	padding: 0;
	width:auto;
}
.search_a
{
	display:inline-block;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 0;
	padding: 0;
	width:auto;
}
.feature_tool
{
	background-color: #CCC;
	margin-right: 1%;
	padding:0 1px;
}
.esriSimpleSliderTL  
{
	border: 1px solid #d3d3cF;
	top:20%;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton
{
	border-bottom: 1px solid #d3d3cF;
}
.esriSimpleSlider div
{
	font-size: 12px;
	line-height: 30px;
}
.esriPopupMobile .titlePane
{
	background-color: #777;
}
.esriPopupMobile .pointer.top
{
	background-image: url("img/pointertop.png");
}
.esriPopupMobile .pointer.bottom 
{
	background-image: url("img/pointerbottom.png");
}
.buttons
{
	float:left;
}
.pull
{  
    display: none;
    margin:0;
    padding:0;
    position: absolute;
}
.layer_title
{
	color: #036;
	font-weight: bold;
	text-align: center;	
}
.layer_group_title
{
	font-weight:bold;
	padding-top: 4px;
	position:relative;
	text-decoration:underline;
	text-align:center;
}
.legend_group_title
{
	padding-top: 4px;
	position:relative;
}
.toc_layer_check
{
	display:none;
}
.select_option
{
	width: 100%;
	height: 35px;
}
.dropdown
{
	overflow:hidden;
	overflow-y:auto;
	padding: 5px 10px;
}
input[type=checkbox]:checked + label 
{
	cursor: pointer;
}
.toc_layer_li
{
	padding: 10px 1px;
}
.active>a
{
    background-color: #E5E5E5;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    color: #555;
    text-decoration: none;	
}
.legend_li 
{
	font-weight:normal;
	text-decoration:none;
}
.li_checked
{
	background-color: #b72727;
	color: #FFF;
}
.search_toggle
{
	display:inline;
	padding:0;
}
.filters
{
	position:relative;
}
.filter
{
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	margin: 3px;
}
.owner_li
{
    display:none;
}
.ul_indentify
{
	margin: 0;
	padding-left: 0
}
.indentify_title
{
	list-style-type: disc
}
nav ul li ul
{
    background-color: #E5E5E5;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    color: #555;   
    position:absolute;
    text-decoration: none;	
}
nav ul li ul li
{
    display:block;
}
nav ul li ul li a 
{
    display:block;
    color:#444;
    padding:15px 10px;
}
.search_progress
{
    width:100%;
    display:none;
}
.tab_parcel [type=radio]:checked ~ label 
{
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
.tab_parcel [type=radio]:checked ~ label ~ .parcel_content 
{
    z-index: 1;
}
.property_photo
{
    height: 170px;
}
.legend_title
{
	font-weight:bold;
	text-decoration:underline;
	text-align:center;
}
.button_row
{
	margin-right: 5px;
	padding: 9px 0 8px;
}
.zoomin
{
	background-image: url("img/toolbar-icons-zoomin.png");	
}
.toolbutton
{
   background-position: 50% 50%;
	background-size: 65% auto;
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;	
}
.zoomout
{
    background-image: url("img/toolbar-icons-zoomout.png");	
}
.extent
{
    background-image: url("img/toolbar-icons-extent.png");	
}
.previous
{
    background-image: url("img/toolbar-icons-previous.png");	
}
.next
{
    background-image: url("img/toolbar-icons-next.png");	
}
.pan
{
    background-image: url("img/toolbar-icons-pan.png");	
}
.identify
{
    background-image: url("img/toolbar-icons-identify.png");	
}
.parcel
{
    background-image: url("img/toolbar-icons-parcel.png");	
}
.measure
{
	display:none;
	background-image: url("img/toolbar-icons-measure.png");	
}
.clear
{
    background-image: url("img/toolbar-icons-clear.png");	
}
.ERIS
{
    background-image: url("img/toolbar-icons-eris.png");	
}
button, .button
{
	background-color: #b72727;
	border-color: #8d1e1e;
	border-style: solid;
	border-width: 1px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-weight: bold;
	font-size: 1em;
	line-height: 1;
	margin: 0 0 1.25em;
	padding: .75em 1.5em .8125em 1.5em;
	position: relative;
	text-align: center;
	text-decoration: none;
}
button:hover, button:focus, .button:hover, .button:focus
{
    background-color: #8d1e1e;
}
button:hover, button:focus, .button:hover, .button:focus 
{
    color: white; 
}
.secondary 
{
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: #333; 
}
.secondary:hover, .secondary:focus, .secondary:hover, .secondary:focus 
{
    background-color: #d0d0d0; 
}
.secondary:hover, .secondary:focus, .secondary:hover, .secondary:focus 
{
    color: #333; 
}
.small
{
	font-size: 0.8125em;
	margin: 0;
	padding: .5625em 1.125em .625em 1.125em;
}
.tiny
{
    font-size: 0.6875em;
    padding: .5em .875em .4375em .87em;
}
.button
{
	height: 35px;
	padding-bottom: 0.75em;
	padding-top: 0.8125em;
	width: 100%;
}
.tiny
{
    padding-bottom: 0.4375em;
    padding-top: 0.5em;    
}
.small
{
    padding-bottom: 0.5625em;
    padding-top: 0.625em;    
}
.filter
{
	transition: none;
}
.LocateButton
{
	display: inline-block !important;
	position: relative;
	top: 8px;
}
.LocateButton .zoomLocateButton
{
	background-color: #E9E9E9;
	border-color: #D0D0D0;
	border-style: solid;
	border-width: 1px;
	background-image: url("img/toolbar-icons-locate.png");
	padding: 0;
	width: 32px;
	height: 33px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
@media only screen
{
	.button 
	{
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;	    
	    transition: background-color 300ms ease-out;
	}
    button:active, .button:active
    {
    	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    }
}
input[type="text"],input[type="password"]
{
	background-color: white;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 0.75);
	font-family: inherit;
	font-size: 0.875em;	
	margin: 0 0 1em 0;
	padding-left: .5em;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
.input_adj
{
	display: inline-block;
	height: 35px;
	width: 50px;
}
.input
{
	display: block;
	height: 35px;
	width: 95%;
}
input[type="text"]:focus,input[type="password"]:focus
{
  	box-shadow: 0 0 5px #999999;
  	border-color: #999999;
}
input[type="text"]:focus,input[type="password"]:focus
{
  	background: #fafafa;
	border-color: #999999;
  	outline: none;
}
input[type="text"][disabled],input[type="password"][disabled]
{
  	background-color: #dddddd; 
}
nav
{
  border-bottom: 0
}
nav a
{
  margin-bottom: 0
}
ul
{
  list-style-type: none
}
.buttons
{
  float:none;
  width:100%;
}
.tab
{
  padding: 20px 0;
}
.print_a
{
  display: none;
}
.logo
{
  float: none;
  left: 35%;
  position: relative;
  width: 35%;
}
.tabs
{
  height: 100%;
}
.dropdown
{
  padding: 5px;
}
.dropdown
{
  position:relative;
}
.esriSimpleSliderTL
{
  display:none;
}
.zoomin
{
  display: none;
}
.zoomout
{
  display: none;
}
.pan
{
  display: none;
}
.esriMobileNavigationBar
{
  background-color: #777;
  background-image: none;	
}
.ResultList
{
  top: 0;
  margin: 0;
}
.parcel_content 
{
  padding: 10px;
}
 nav
{
  border-bottom: 0
}
nav a
{
  margin-bottom: 0
}
ul
{
  list-style-type: none
}
.buttons
{
  float:none;
  width:100%;
}
.tab
{
  padding: 20px 0;
}
.print_a
{
  display: none;
}
.logo
{
  float: none;
  left: 35%;
  position: relative;
  width: 35%;
}
.tabs
{
  height: 100%;
}
.dropdown
{
  padding: 5px;
}
.dropdown
{
  position:relative;
}
.esriSimpleSliderTL
{
  display:none;
}
.esriPopupMobile .titlePane .footer
{
  visibility: hidden;
}
.attrTable
{
  margin: auto;
}
.esriMobileInfoView .esriMobileInfoViewItem .gallery
{
  margin: auto;
}
.esriMobileNavigationItem.center
{
  visibility: hidden;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 360px)
{
  .esriViewPopup .gallery
  {
    width: 350px;
    height: 300px;
  }
  .esriViewPopup .gallery .frame img
  {
    max-width: 350px;
    max-height: 300px;
  }
}
@media only screen and (max-width: 799px)
{
  .nav_tabs
  {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
    background-repeat: repeat-x;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    width: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }
  .pull
  {
    background: url('img/nav-icon.png') no-repeat;
    background-size: 100% auto;
    background-position:center; 
    display: block;
    height: 25px;
    left: 7px;
    top: 7px;
    width: 25px;
    z-index: 1;
  }
}
@media only screen and (min-width: 800px)
{
  .button_row
  {
    padding: 0;
  }
  .dropdown
  {
    position: absolute;
    max-height: 65%;
  }
  .nav_tabs
  {
    display: block;
    width: auto;
  }
  .tab
  {
    margin-bottom: 0;
    padding: 17px 5px;
  }
  .tabs
  {
    width: 414px;
    margin: auto;
  }
  .tabs>li
  {
    display: inline-block;
    margin-right: 2%;
  }  
}
@media only screen and (min-width: 1280px)
{
	.logo
  {
    float:left;
    width: 15%;
    position: static;
  }
  .buttons
  {
    display: inline-block;
    float: left;
    width: auto;
  }
  .button_row
  {
    margin-right: 5px;
  }
  .nav_tabs
  {
    display: inline-block;
  }
  .mainSection
  {
    width: 40%;
    display: inline-block;
    float: left;
  }
  .mediaSection
  {
    width: 40%;
    display: inline-block;
  }
}
