#map{
	overflow: hidden;
	background: #fff;
	width:800px; 
	height:1000px;
	border:1px solid #000;
	page-break-after:always; /*page break after map*/
	page-break-before:always;
}
#framecontent {
    color: #000000;
    overflow: hidden;
    padding: 0;
    width: 300px;
	display:inline-block;
}

#photo{
	display:inline-block;
	overflow: hidden;
	background: #fff;
	width:360px; 
	height:360px; 
	border:1px solid #000;
	margin: 10px 0 0;
	vertical-align: top;
}