.map
{
	background: #fff;
	bottom: 0;	
	visibility:hidden;
	height:540px; 
	left: 300px; /* True value of left frame*/
	overflow: hidden;
	right: 0;
	top: 0; 
	width:540px; 
}
.photo
{
	top: 370px; 
	left: 300px; /* True value of left frame*/
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: #fff;
	width:540px; 
	height:540px; 	
}
.map
{
	border:1px solid #000;
}
.photo
{
	border:1px solid #000;
}
.footer
{
	bottom: 5px;
}
.parcel_ul
{
	list-style-type: disc;
	list-style-position: outside;
}
a:link {color:#0054a6; text-decoration:none;}      /* unvisited link */
a:visited {color:#0054a6; text-decoration:none;}  /* visited link */
a:hover {color:#c62400; text-decoration:none;}  /* mouse over link */
a:active {color:#c62400; text-decoration:none;}  /* selected link */
ul
{
	list-style-type: none;
	list-style-position:inside;
}
.left, .right
{
	display:inline-block;
}
.left
{
	float: left;
	position: relative;
	width:29%;	
}
.dataGroupHeader{
	font-weight: bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-size:13px;
	padding: 5px 0 1px 0;
	margin: 5px 0 1px 0;
}
.dataGroup{
	border-bottom: 1px dashed #999999;	
}
.header
{
	text-align:center;
	width: 1200px;	
}
.content
{
	width:100%;
	overflow:hidden;
}
.footer{
	height:40px;
	width:60%;
	vertical-align:bottom;
	overflow:hidden;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
.toggle{
	font-size:14px;
	margin:auto;
	width:340px;
}
.feature_li
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom: 5px;
}
.property_photo{
	width:540px; 
	height:540px; 
}
@media print
{
	@page
	{
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.toggle
	{
		display : none;
	}
	.dataGroupHeader
	{
		font-size: 20px;
	}
	.feature_li
	{
		font-size:18px;
	}
	.map
	{
	}
}